@model HomeViewModel


<partial name="_Carousel" />
<div class="container">
    <h2>Card of the week</h2>
    <div class="row">
        <div class="col align-self-center">
            @foreach (var card in Model.CardDealOfTheWeek)
            {
                <partial name="_CardPartialView" model="card" />
            }
        </div>
    </div>
</div>
